@{
    ViewBag.Title = "首页";
}
<style>
    .top {
        width: 100%;
        height: 50%;
    }

    .bottom {
        width: 100%;
        height: 50%;
    }
  
</style>
<div class="top">
    <div class="border" style="width:257px;height:96%;float:left;border-left:none;">
        <div><span style="font-size: 16px; float: left; margin: 5px;">万达集团</span></div>
        <div><img src="~/img/comp_logo.png"/></div>
        <p style="text-align:left;line-height:25px;"> 万达商业地产股份有限公司是中国商业地产行业的龙头，持有物业面积规模全球第二，成为全球排名第一的不动产企业。万达商业地产公司拥有全国唯一的商业规划研究院、全国性的商业地产建设团队、全国性的连锁商业管理公司，形成商业地产的完整产业链和企业的核心竞争优势。万达广场历经10年发展，已从第一代的单店、第二代的组合店，发展到第三代城市综合体。</p>
    </div>
    <div class="border" style="float:right;width:77.4%;height:96%;">
        <div class="borderTitle">当日用电趋势</div>
        <div id="container" style="height:91%"></div>
    </div>
</div>
<div class="bottom">
    <div class="border" style="width:257px;height:95%;float:left;border-left:none;">
        <div class="borderTitle">能源占比图</div>
    </div>
    <div class="border" style="width:30%;height:95%;float:right;margin-left:7px">
        <div class="borderTitle">待处理问题</div>
    </div>
    <div class="border" style="width:46.4%;height:95%;float:right;">
        <div class="borderTitle">用电综合评价</div>
    </div>
</div>

<script type="text/javascript" src="~/jsviews/index.js"></script>